{% extends 'base.html' %}  <!--extends from base.html-->

{% block title %}
<title>booking page</title>
{% endblock title %}

{% block body %}
<h1 class='text-center'> Booking Form</h1>
<div class="container">
<form action='booking_form' method="POST">
{% csrf_token %}
{{form.as_p}}
<div class="container">
<input type="submit" value="Book now" class="btn btn-primary"><br>
<p><b>NB:</b>
<b>slots :</b> MG(morning 9.00-12.00),AN(afternoon 1.00-6.00),NT(night 6.00-7.00)<br>
<br>
<b>Type of waste :</b><br> 1) Liquid waste<br> 2) Solid Waste <br>   3) Organic Waste <br> 4) Recyclable Wast<br>  5)Hazardous Waste<br>
<br>
<b>vehicle :<br></b>1) cycle(<50kgs)<br>2) tata ace(50-500kg)<br>3) tata eicher(500-3000kg)<br>4)truck(>3000kg)<br></p>
</form>
</div>
{% endblock body %}