{% extends 'base.html' %}  <!--extends from base.html-->

{% block title %}
<title>Cleanout Home Page</title>
{% endblock title %}

{% block body %}
{% for message in messages %}
<div class="alert alert-{message.tags} alert-dismissible fade show" role="alert">
  <strong>Message : </strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<!--{% load static %}-->

<!--<h1>Home Page</h1>-->
<div class="container my-3">













    {% load static %} <img src="{% static "/home/aswathi/Desktop/cleanout/static/img/waste-container.jpg" %}">

    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Welcome To CleanOut....</h1>
      <!--<p class="lead my-3">As the human population and overconsumption grow, the waste we produce becomes harder to get rid of. With adequate waste management, we tend to think that waste does not affect us. Out of sight, out of mind, right? Not so much anymore.

</p>-->
      <!--<p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>-->
    </div>
  </div>



  <!--file uploads ....-->
<br>
<form action="{% url 'clean:uploads' %}" method="POST" enctype="multipart/form-data">
  <h6>upload your images here</h6>
  <input type="text" name="name" placeholder="enter your name"><br>
  <br>
  <input type="text" name="filename" placeholder="enter your file name">
  <input type="file" multiple name="uploadfiles">
  {% csrf_token %}
  <button type="submit"> File Upload</button>

</form>
<br>

{% comment %} <a href="{% url "slotorder" %}">order your slot here</a> {% endcomment %}



  
  <div class="row mb-2">
   {% for review in reviews %}
    <div class="col-md-6 my-3">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Customer Reviews</strong>
          <h5 class="mb-0">{{review.review}}</h5>
          <h6 class="mb-0">Posted by : {{review.name}}</h6>
          <!--<b>Posted by: </b>{{review.user_id.username}}-->
          <div class="mb-1 text-muted">{{review.date}}</div>
          <!--<p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>-->
          
          <a href="review_details/{{review.id}}" class="stretched-link btn btn-success">Continue reading</a>
        </div>
        
      </div>
    </div>
    {% endfor %}
    
      </div>
    </div>
  </div>
</div>

{% endblock body %}