{% extends 'base.html' %}  <!--extends from base.html-->

{% load socialaccount %}

{% block title %}
<title>login page</title>
{% endblock title %}

{% block body %}
{% for message in messages %}
<div class="alert alert-{message.tags} alert-dismissible fade show" role="alert">
  <strong>Message : </strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<h1 class='text-center my-3'>Login Form</h1>

<div class="container">


<form action='login' method='POST'>
    {% csrf_token %}
  <div class="row g-3">
  



  <div class="col-12">
    <label for="inputAddress" class="form-label">Username</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Username" name='username'>
  </div>

  <br>

  <div class="col-md-12">
    <label for="inputCity" class="form-label">Password</label>
    <input type="password" class="form-control" id="password1" name='password'>
  </div>

  
  

  
  <div class="col-6">
    <button type="submit" class="btn btn-primary">Login</button>
  </div>

 <p><a href="" style="text-decoration:none;">Forgotten your password?</a></p> 
 <a href="{% provider_login_url 'google' %}">Login With Google</a>

</form>


</div>

{% endblock body %}